@media screen and (max-width: 1168px) {
    .mobile-visiable {
        display: block;
    }

    .leptop-visiable {
        display: none !important;
    }

    .top-right {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        z-index: 2;
        background-color: #f5ece6;
        height: 100vh;
        margin: 0;
        padding: 0 !important;
        top: 0;
        left: 0;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        align-items: center !important;
        justify-content: center !important;
    }

    .top-right-show {
        opacity: 1;
        visibility: visible;
    }

    .primary-active,
    .hover-primary {
        font-size: 35px;
    }

    /* nav-icon-5 */
    .nav-icon-5 {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    .nav-icon-5 span {
        background-color: #0051ff;
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms
    }

    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }

    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }

    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }

    .nav-icon-5:not(.open):hover span:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1);
    }

    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }

    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }

    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }

    .wrapper {
        justify-self: right;
        width: max-content;
        position: relative;
        z-index: 5;
    }
    .main{
        flex-wrap: wrap;
    }
    .main-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .main-left,.main-right{
        width: 100%;
    }
    .main-left{
        height: 100vh;
    }
    .main-right{
        padding: 20px;
        margin-top: 50px;
        justify-content: center;
    }
    .persnal-card{
        position: static;
    }
    .para p{
        max-width: 100%;
    }
    .btns-of-hire {
        justify-content: center;
    }
    .mr-tp{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .mr-tp h1{
        width: max-content;
        margin: 0;
        padding: 0;
    }
    .exprinance-box{
        flex-wrap: wrap;
        gap: 20px;
    }
    .xyzzz{
        max-width: 70%;
    }
    .ht-big{
        font-size: 40px;
    }
    .footer{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .name-header{
        font-size: 25px !important;
    }
}
@media screen and (max-height: 640px) and (max-width: 1170px){
    .main-center{
        transform: translate(-50%, -35%);
    }
}
@media screen and (max-width:370px){
    .main-center{
        transform: 0;
    }
    .main-resume{
        padding: 50px 5px !important;
    }
    .exprinance-box {
        padding-left: 10px;
    }
}

@media screen and (max-width:900px){
    .c-b-left,.c-b-right{
        width: 100%;
        height: max-content;
    }
    .containers-boxs{
        padding: 40px 30px;
    }
    .c-b-l-left-box{
        left: -30px;
    }
}
@media screen and (max-width:700px){
    .main-resume{
        padding: 50px;
    }
    
}